[submodule "lib/put_on_edge"]
	path = lib/put_on_edge
	url = git@github.com:RobertWeber1/put_on_edge.git
[submodule "lib/lcsc_stuff"]
	path = lib/lcsc_stuff
	url = git@github.com:RobertWeber1/lcsc_stuff.git
